name: Deploy Landing

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: 4.242.16.29
          username: ernany
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/suavitrine
            git fetch landing
            git subtree pull --prefix=landing landing main --squash
            docker compose build landing
            docker compose up -d landing
