name: Deploy Backend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: 4.242.16.29
          username: ernany
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/suavitrine
            git fetch backend
            git subtree pull --prefix=backend backend main --squash
            docker compose build backend
            docker compose up -d backend
